{{#each teams}}
  <h1>{{name}}</h1>
  <table class="table table-bordered">
    {{partial "rosters/team_attributes"}}
  </table>
  <table class="table table-bordered">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Position</th>
      <th>Ma</th>
      <th>St</th>
      <th>Ag</th>
      <th>Av</th>
      <th>Skills</th>
      <th>Cost</th>
      <th></th>
    </tr>
    {{view Ember.CollectionView contentBinding="players"
        itemViewClass="CalculateYourTV.PlayerView"}}
  </table>
{{/each}}
