<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand"></a>
    </div>
  </div>
</div>
<div class="container-fluid">
  {{outlet}}
</div>
<p style="text-align: center">
  Artwork drawn by Knut_Rockie and coloured by RyanFitz. Source code is hosted at
  <a href="https://github.com/joepym/calculateyourtv" target="blank">github</a>
  and suggestions/code amends are welcome!
</p>
